/* Selector{
    Property: value;
} */
*{
    text-align: right;
}
body{
   background-image: url(BackgroundImage.jpg); 
   background-size: cover;
}
h2, p{
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

/*p{
    color: pink;
}*/

p{
    /*text-decoration: underline;*/
    /*text-transform: uppercase;*/
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    /*font-family: Georgia;*/
}

img{
    float: left;
}

footer{
    clear: both;
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
}

.webtext{
    border: 5px dashed green;
}

.active{
    color: red;
}

#div1{
    background: rgba(0,0,255, 0.2);
}

#div2{
    background: rgba(255, 0, 0, 0.2);
}